/* Navigation */
nav {
  color: #fff;
  background-color: var(--darkPink);
}

.wrapper {
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.backLink {
  cursor: pointer;
  font-size: 1.5rem;
}

.backLink:hover {
  transform: scale(1.2);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer a img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 25%;
}

@media screen and (min-width: 768px) {
  .logoContainer a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .logoContainer a {
    font-size: 2em;
  }

  .backLink {
    font-size: 2em;
  }
}

@media screen and (min-width: 1440px) {
  .logoContainer a {
    font-size: 3em;
  }
}
